In [79]:
# std_info={
#     "Rakib":[75,88,92],
#     "Arka":[59,61,65],
# }

In [80]:
for _ in range(2):
    name= input("Enter name: ")
    marks=input("Enter marks: ")

    marks_list=list(map(int, marks.split(',')))
    std_info[name]=marks_list

In [92]:
list(map(int, marks.split(',')))

[20, 30, 40]

In [81]:
std_info

{'Rakib': [10, 20, 40], 'Arka': [20, 30, 40]}

In [82]:
std_info["Rakib"][0]

10

In [83]:
len(std_info["Rakib"])

3

In [84]:
max(std_info["Rakib"])

40

In [85]:
def calculate_average(name):
    total_marks = sum(std_info[name])
    return total_marks/len(std_info[name])

In [86]:
def determine_pass_fail(name):
    average = calculate_average(name)
    if average >= 60:
        return "Pass"
    else:
        return "Fail"

In [87]:
def find_highest_lowest(name):
    return (f"{max(std_info[name])}, {min(std_info[name])}")

In [88]:
calculate_average("Rakib")

23.333333333333332

In [89]:
determine_pass_fail("Rakib")

'Fail'

In [90]:
find_highest_lowest("Rakib")

'40, 10'

In [1]:
my_set=set(['a','b','c'])
print(my_set)

{'c', 'b', 'a'}

In [21]:
n=(int)(input("Enter the number of participants: "))

In [22]:
dic={}

In [23]:
i=0
for _ in range(n):
    i+=1
    name=input(f"Enter the name of participant {i}:")
    score=input(f"Enter the score of {name}: ")
    dic[name]=score

In [24]:
dic

{'A': '10', 'B': '20', 'C': '49', 'D': '13', 'E': '5'}

In [26]:
score=0
for value in dic.values():
    score+=int(value)

avg=score/n
print(f"The average score is: {avg}")

The average score is: 19.4

In [28]:
for key, value in dic.items():
    if int(value)>avg:
        print(f"Congratulation, {key}!")

Congratulation, B!
Congratulation, C!

In [33]:
a=int(input("Enter 1st num: "))
b=int(input("Enter 2nd num: "))

In [34]:
try:
    print(a/b)
except:
    print("Division by zero is not allowed")

Division by zero is not allowed

In [1]:
try:
    listA=list(map(int, input("enter 5 num: ").split()))
except ZeroDivisionError:
    print("Division by zero is not allowed")
except IndexError:
    print("Index out of range")
except:
    print("Something went wrong")
finally:
    print("thank you")

thank you

In [36]:
listA

[1, 22, 4, 65]